div(class="container-fluid text-center")    
    div(class="row content")
        div(class="col-sm-6 sidenav")
            form(#vitaform="ngForm",appnoautocomplete="", autocomplete="off",  (keydown.enter)="$event.preventDefault()")   
                div(class="card")
                    div(class="card-body")
                            h2(class="card-title" id="editTitle") Create Day
                            div(class="card-text")
                                div(class="row content")
                                    input(
                                        type="hidden", 
                                        name="_id", 
                                        class="form-control", 
                                        id="_id",
                                        #_id="ngModel",
                                        [(ngModel)]="vitacorService.selectvitacor._id"
                                    )
                                    div(id="labelMaterial") 
                                            div(class="group")
                                                input(type="text", 
                                                    required class="imp",
                                                    name="idTasks", 
                                                    #idTasks="ngModel",
                                                    [(ngModel)]="vitacorService.selectvitacor.idTasks"
                                                )
                                                label(class="lbl") Id Tasks  
                                    div(id="labelMaterial") 
                                            div(class="group")
                                                input(type="text", 
                                                    required class="imp",
                                                    name="lid", 
                                                    #lid="ngModel",
                                                    [(ngModel)]="vitacorService.selectvitacor.lid" 
                                                )
                                                label(class="lbl") Lid 
                                    div(id="labelMaterial") 
                                            div(class="group")
                                                input(type="date", 
                                                    required class="imp",
                                                    name="initDate", 
                                                    #initDate="ngModel",
                                                    [(ngModel)]="vitacorService.selectvitacor.initDate"
                                                )
                                                label(class="lbldate") Init date
                                    div(id="labelMaterial") 
                                            div(class="group")
                                                input(type="date", 
                                                    required class="imp",
                                                    name="finishDate", 
                                                    #finishDate="ngModel",
                                                    [(ngModel)]="vitacorService.selectvitacor.finishDate"
                                                    )
                                                label(class="lbldate") Finish date
                                    div(id="labelMaterial") 
                                            div(class="group")
                                                input(type="text", 
                                                    required class="imp",
                                                    name="note", 
                                                    #note="ngModel",
                                                    [(ngModel)]="vitacorService.selectvitacor.note" 
                                                    )    
                                                label(class="lbl") Notes
                                    div(id="labelMaterial") 
                                        input(type="button", 
                                            id="button"
                                            value="Clear",
                                            (click)="resetForm(vitaform)")  
                                        input(type="button", 
                                            id="button"
                                            value="Send",
                                            (click)="createVita(vitaform)")  
            div(class="card" id="cardData")
                a("(click)"="listViewer()")
                    i(class="glyphicon glyphicon-list btnlist", *ngIf="!viewList")
                    i(class="glyphicon glyphicon-th-large btnlist", *ngIf="viewList")
                div(class="card-body", *ngIf="!viewList")
                    div(class="card-columns")
                    div(class="container-fluid text-center")    
                        div(class="row content")
                                div(class="card 50" ,*ngFor="let vita of vitacorService.vita index as i")
                                        h4(class="card-title") {{vita.initDate}} -> {{vita.finishDate}}
                                        div(class="card-body")
                                            p(class="card-text")    
                                                label(scope="col") {{vita.taskCant}} Tasks. {{vita.taskFinished}} Pending  
                                            p(class="card-text")  
                                                label(scope="col") Lid : {{vita.lid}}
                                            p(class="card-text") 
                                                label(scope="col") Note: {{vita.note}}
                                                label Id: {{vita.idTasks}}
                                                    a((click)="deleteVita(vita._id)")
                                                        i(class="glyphicon glyphicon-trash") 
                                                    a("(click)"="getTaskCount(vita.idTasks,i);editVita(vita)")
                                                        i(class="glyphicon glyphicon-edit") 
                div(class="card-body", *ngIf="viewList")
                    table(class="table table-condensed ")
                        tbody(*ngFor="let vita of vitacorService.vita index as i")
                            tr
                                td 
                                    label {{vita.initDate}} -> {{vita.finishDate}}
                                td  
                                    label {{vita.taskCant}} Tasks. {{vita.taskFinished}} Pending 
                                td
                                    a("(click)"="getTaskCount(vita.idTasks,i);editVita(vita)")
                                        i(class="glyphicon glyphicon-edit")
                                    a((click)="deleteVita(vita._id)")
                                        i(class="glyphicon glyphicon-trash")                                                                      
        div(class="col-sm-6 text-left") 
            form(#taskform="ngForm",
                appnoautocomplete="", 
                autocomplete="off",  
                (keydown.enter)="$event.preventDefault()"
                )
                table(class="table table-sm " id="tbltask")
                    tbody
                    tr(id="formtr")
                        input(
                            type="hidden", 
                            name="_id", 
                            class="form-control", 
                            id="_id",
                            #_id="ngModel",
                            [(ngModel)]="taskService.selecttask._id"
                        )
                        input(
                            type="hidden", 
                            name="idTasks", 
                            class="form-control", 
                            id="idTasks",
                            value="1",
                            #idTasks="ngModel",
                            [(ngModel)]="taskService.selecttask.idTasks"
                        )
                        td
                            div(id="labelMaterial")
                                div(class="group") 
                                    input(type="text", 
                                    required class="imp"
                                    name="task", 
                                    #tasks="ngModel",
                                    [(ngModel)]="taskService.selecttask.task"
                                    )
                                    label(class="lbl") Email
                        td    
                            input(
                                type="hidden", 
                                name="status", 
                                class="form-control", 
                                id="status",
                                value="pendding",
                                #status="ngModel",
                                [(ngModel)]="taskService.selecttask.status"
                            )
                        td
                            input(type="button", 
                            id="button",
                            name="send", 
                            placeholder="Send",
                            value="Send",
                            (click)="createTask(taskform)"
                            )    
            table(class="table table-sm " id="tbltask")
                thead
                tr
                    th(scope="col") Task
                    th(scope="col") Status
                    th(scope="col") Actions
            div(class="taskdiv")
                table(class="table table-sm " id="tbltask")      
                    tbody
                    tr(*ngFor="let task of taskService.task" )
                        td {{task.task}}
                        td 
                            div(class="flipswitch",[ngClass]="task.status") {{task.status}} .
                                a("(click)"="editTask(task)")
                                    i(class="glyphicon glyphicon-off",(click)="changeTaskStatus(task,task.status)") 
                        td
                            a("(click)"="editTask(task)")
                                i(class="glyphicon glyphicon-pencil")
                            a((click)="deleteTask(task._id)")
                                i(class="glyphicon glyphicon-trash") 



  

      

    
